# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Mac OS artifacts
.DS_Store

# IDE settings
.idea/
.vscode/

# DATA (Do NOT push to GitHub - Upload to OSF instead)
data/
*.npy

# Visualizations (Optional: Keep HTMLs if <50MB, otherwise ignore)
# visualizations/